@page
@model IndexOfferType

<a class="btn btn-secondary" asp-page="CreateOfferType">Dodaj typ oferty</a>
<table class="table table-striped table-bordered">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Operations</th>
    </thead>
    
    <tbody>
    @foreach (var item in Model.OfferTypeCollection)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <form asp-page-handler="delete" asp-route-id="@item.Id">
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </form>
        </tr>
    }
    </tbody>
</table>